.HomePage {
   
  }

body {
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover;
}

.navbar .logo{

}

li{
    display: inline;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li a:hover {
    background-color: #111;
}